

<h1>Liste des modules</h1>
<table border="1">
    <tr>
        <td>idModule</td>
        <td>Nom</td>
        <td>Enseignant</td>
        <td>Nbre Heures</td>
        <td>Date</td>
    </tr>
    {% for m in listeModules %}
        <tr>
            <td>{{ m.id }}</td>
            <td>{{ m.nom }}</td>
            <td>{{ m.enseignant }}</td>
            <td>{{ m.nbrHeures }}</td>
            <td>{{ m.date }}</td>
            <td><a href="{{ path ('Affectation') }}">Affectation</a> </td>
        </tr>
    {% endfor %}
</table>

<ul>
    {% for etudiant in etudiants %}
        <li>
            {{ etudiant|upper }}
        </li>
    {% else %}
        <strong> La liste des étudiants est vide</strong>
    {% endfor %}
</ul>